services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
    ports:
      - 9000:9000
    environment:
      - APP_ENV=dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
